.card {
  position: absolute;
  border-radius: 18px;
  box-shadow: var(--shadow);
  overflow: hidden;
  filter: saturate(0.95);
  transition: width 1s ease, height 1s ease, background-color 1s ease,
    transform 1s ease, opacity 0.6s ease;
}

/* 나중에 이미지 넣을 때:
  .card{ background-image:url(...); background-size:cover; background-position:center; }
  */
